{% extends "app.html" %} 
{% block title %} Room {% endblock %}

{% block content %}
<style>
    .room-container{
        display:grid;
        grid-template-columns: 3fr 1fr;
    }
</style>
    <div class="room-container">

        <div>
            <h1>{{room.name}}</h1>
            <p>{{room.description}}</p>
            <div class="comment-wrapper">
                <h3>Conversation</h3>
                <hr>

                {% for chat in chats %}
                    <div>
                        {% if request.user == chat.user %}
                            <a href="{% url 'delete-chat' chat.id %}">Delete</a>
                        {% endif %}
                        <small>@{{chat.user}} {{chat.created|timesince}} ago</small>
                        <p>{{chat.body}}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>

            {% if request.user.is_authenticated %}
                <div class="comment-form">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="text" name="body" placeholder="write your message">
                    </form>
                </div>
            {% endif %}
        </div>

        <div>
            <h3>Participants</p>
            <hr>
            {% for user in participants  %}
                <p>@{{user.username}}</p>
            {% endfor %}
        </div>

    </div>
{% endblock %}